<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>열정🔥학습기록</title>
    <!--    부트스트랩 추가-->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
<!--    제이쿼리 추가-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>

    </style>
    <script>
        function getGitData() {
            Swal.fire(
                'Good job!',
                '접속되었습니다',
                'success'
            );
            $.ajax({
            type: 'GET',
            url: '/githublog',
            data: {},
            success: function (response) {
                const date = Object.values(response)[0][0]
                const work = Object.values(response)[0][1]
                console.log(date, work);

            $('#today').append(date);
            $('#work_today').append(work);
            }
        })
        }
        $(document).ready(function () {
            getGitData();
        });
    </script>
</head>
<body>
    <div class="header">
        <div class="title">Pablaw's Study log</div>
    </div>
    <div calss="profileSection">
        <div class="content">
            <div id="date_cotain" class="shadow p-3 mb-5 bg-body rounded">
                <div class="date">
                    <div>오늘의 날짜</div>
                    <div id="today"></div>
                </div>
            </div>
            <div id="work_cotain" class="shadow p-3 mb-5 bg-body rounded">
                <div class="work">
                    <div>오늘의 깃헙 레벨</div>
                    <div id="work_today"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="githubLog">
        <div>깃헙 잔디 크롤링 구역</div>
    </div>
    <div class="blogSection">
        <div>블로그 기록 구역</div>
    </div>
    <div class="footer"></div>
</body>
</html>